.selectiveBox {
  position: relative;
  right: 300px;
  left: 20px;
  bottom: 150px;
}
.days {
  padding: 0px;
  width: 7px;
  height: 7px;
}
.HourAm {
  position: relative;
  width: 10px;
  height: 10px;
  right: 10px;
}
.HourPm {
  position: relative;
  margin-right: 130px;
  width: 0px;
  height: 0px;
  left: 350px;
  bottom: 10px;
}
.Available {
  background-color: #2196f3;
  width: 30px;
  height: 15px;
}
.Unavailable {
  background-color: grey;
  width: 30px;
  height: 15px;
}
