.container {
  position: relative;
  width: auto;
  height: auto;
}

/* Create a custom checkbox */
.card {
  border-radius: 0px;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border: 1px solid #e1e1e1;
}
@media screen and (max-width: 360px) {
  .card {
    width: 27px;
    height: 27px;
  }
}
