.container {
  position: relative;
  width: auto;
  height: auto;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  padding: 10px;
  background-color: #eee;
}
