.card {
  border-radius: 0%;
  background-color: hsl(202, 96%, 39%);
  height: 41.5px;
  width: 41.5px;
}
.card_disabled {
  background-color: white !important;
}
.SelectiveBox {
  position: relative;
  right: 300px;
  bottom: 300px;
  left: 20px;
}
.days {
  margin: 40px;
}
.time {
  margin-right: 100px;
}
.Hour {
  margin-right: 130px;
  margin-left: 2px;
}
